@model HeaderViewRenderMode

@{
    string nombreAplicacion = "Biblioteca del Centro";
}



@if (Model == HeaderViewRenderMode.Title)
{
    
    <div class="templateTitle">
        <i class="fa fa-book fa-3x" aria-hidden="true"></i>
        @Html.ActionLink(@nombreAplicacion, "Index", "Home")
    </div>
} else { 
    if(Model == HeaderViewRenderMode.Full) {
        <div class="headerTop">
            <div class="templateTitle">
                <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                @Html.ActionLink(@nombreAplicacion, "Index", "Home")
            </div>
        </div>
    } 

    @*<div class="headerMenu">
            
    @Html.DevExpress().Menu(settings => {
        settings.Name = "HeaderMenu";
        settings.ItemAutoWidth = false;
        settings.ControlStyle.CssClass = "headerMenu";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    }).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/TopMenu.xml"), "/items/*").GetHtml()
    </div>*@
}