﻿@model IEnumerable<Ksp.Biblioteca.Bo.BoCatalogoGenerico>

@{
    ViewBag.Title = "Index";
}

<Script>
    var tipoDeCatalogo = '';

    function onComboBoxValueChanged(s, e) {

        tipoDeCatalogo = s.lastSuccessValue;
        //alert(s.lastSuccessValue);
        GridViewCatalogos.PerformCallback(s.lastSuccessValue);
    };

    function BeginCallBack(s, e) {
        e.customArgs["tipo"] = tipoDeCatalogo;
    }

</Script>


<div style="margin: 20px">



    <h3>Catálogos Genéricos</h3>
        
    <hr/>

    <div class="caja-textos">
        <label>Tipo de Catálogo</label>
      @Html.DevExpress().ComboBox(
                    settings =>
                    {

                        settings.Name = "comboBoxTiposDeCatalogos";
                        settings.Width = 180;
                        settings.SelectedIndex = 0;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                        settings.Properties.EnableClientSideAPI = true;
                        settings.Properties.ClientSideEvents.ValueChanged = "onComboBoxValueChanged";

                        settings.Properties.TextField = "Description";
                        settings.Properties.ValueField = "Value";
                    }
                    ).BindList(ViewData["TiposDeCatalogo"]).Bind(ViewData["Tipo"]).GetHtml()                                           
     </div>
               
                @Html.Partial("GridViewCatalogosPartial", Model)
</div>
       

