﻿h3 {
    color: #1a669e;
    margin-top: 10px;
    margin-bottom: 10px;    
}


label {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.caja-textos {
    margin-top: 20px;
    margin-bottom: 20px;
}